<header>
    <div class="header-container">
        <fa-icon [icon]="faHome" size="3x" class="faHome" [routerLink]="['/home']"></fa-icon>
        <h1>Bienvenue Administrateur!</h1>
        <button class="refresh" (click)="resetAll()"><fa-icon [icon]="faRefresh" size="2x"></fa-icon></button>
    </div>
</header>

<body>
    <section class="admin">
        <div class="tab-selection" #tabs>
            <button class="tab selected" id="history" (click)="changeSelection($event)">Historique des parties</button>
            <button class="tab" id="dictionnaries" (click)="changeSelection($event)">Dictionnaires</button>
            <button class="tab" id="VPs" (click)="changeSelection($event)">Joueurs Virtuels</button>
        </div>
        <div class="tab-content">
            <div *ngIf="tabSelection === 'history'">
                <app-game-history-tab></app-game-history-tab>
            </div>
            <div *ngIf="tabSelection === 'dictionnaries'">
                <app-dictionary-tab></app-dictionary-tab>
            </div>
            <div *ngIf="tabSelection === 'VPs'">
                <app-virtual-players-tab></app-virtual-players-tab>
            </div>
        </div>
    </section>
</body>
