<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Paramètres de la partie multijoueur</mat-card-title>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button aria-label="Fermer la fenêtre" (click)="closeDialog()">
            <mat-icon class="icon-cancel">cancel</mat-icon>
        </button>
    </mat-toolbar>
</mat-card-header>

<mat-card-content>
    <div class="container">
        <form [formGroup]="gameParametersForm" (submit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label>Choisissez votre avatar: </label>
                    </div>
                    <div>
                        <button (click)="chooseIcon(false)"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
                        <img [src]="imgChosen" /><img />
                        <button (click)="chooseIcon(true)"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                    </div>
                    <div class="col-md-10">
                        <label>Votre nom: </label>
                        <input cdkFocusInitial type="text" formControlName="playerName" class="form-control" />
                    </div>

                    <div class="requirement" *ngIf="gameParametersForm.controls['playerName'].errors && gameParametersForm.value.playerName !== ''">
                        Rentrez un nom contenant seulement des lettres.
                    </div>

                    <div class="col-md-10">
                        <label>Temps limite par tour: </label>

                        <select formControlName="minutes" class="form-control" id="minutes" name="minute">
                            <option
                                *ngFor="let minute of [0, 1, 2, 3, 4, 5]; let i = index"
                                [disabled]="
                                    (gameParametersForm.value.seconds === 0 && i === 0) || (gameParametersForm.value.seconds === 30 && i === 5)
                                "
                                [ngValue]="minute"
                                [selected]="minute === 1"
                            >
                                {{ minute }}
                            </option>
                        </select>
                        min :
                        <select formControlName="seconds" class="form-control" id="seconds" name="second">
                            <option [ngValue]="0" selected [disabled]="gameParametersForm.value.minutes === 0">00</option>
                            <option [ngValue]="30" [disabled]="gameParametersForm.value.minutes === 5">30</option>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label>Choix du dictionnaire: </label>
                        <select id="dictionaries" name="dictionnary" formControlName="dictionnary" class="form-control">
                            <option [ngValue]="dictionnary.id" *ngFor="let dictionnary of communicationService.dictionnaries | async">
                                {{ dictionnary.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <button [disabled]="gameParametersForm.controls['playerName'].errors" type="submit" class="btn success">Jouer!</button>
            </div>
        </form>
    </div>
</mat-card-content>
