div {
    border-radius: 15px;
    border-width: thin;
    width: 20vw;
}

#wholeBox {
    background-color: #e1ac01;
    padding: 20px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 75vh;
    width: 18vw;
    float: right;
}
.message {
    word-break: break-word;
}
#neutral {
    width: 80%;
    margin-right: -5%;
}
.chat-log {
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-y: hidden;
    width: 60%;
    padding: 10px;
    margin: 0% 5% 5% 25%;
    border-radius: 15px;
    background-color: #65ccd2;
}
.chat-log-opponent {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-y: hidden;
    width: 60%;
    padding: 10px;
    margin: 0% 25% 5% 0;
    border-radius: 15px;
    background-color: #ffffff;
}
.chat-log-error {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 80%;
    padding: 10px;
    margin: 4% 0 4% 0;
    border-radius: 15px;
    background-color: #f8f847;
    color: #ee1919;
}
.chat-log-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 80%;
    padding: 10px;
    margin: 4%;
    border-radius: 15px;
    background-color: #f8f847;
    color: green;
}
#writingBox {
    height: 20%;
    border-radius: 15px;
    border-style: solid;
    overflow-wrap: break-word;
}

.disabledBox {
    height: 20%;
    border-radius: 15px;
    border-style: solid;
    pointer-events: none;
}

#nonWritingBox {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}
#chat-container {
    width: 70%;
}
textarea {
    resize: none;
}

#nonWritingBox::-webkit-scrollbar {
    height: 1px;
    width: 10px;
    border-radius: 15px;
    background-color: #b6b6b6c0;
}

#nonWritingBox::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    height: 1px;
    width: 10px;
    border-radius: 15px;
}

.myself {
    display: flex;
    justify-content: right;
    margin-right: 10%;
}
.opponent {
    display: flex;
    justify-content: left;
    margin-left: 5%;
}
.message-container {
    display: flex;
    flex-direction: column;
}
