<div id="wholeBox">
    <div id="nonWritingBox" #scroll>
        <!--<div class="chat-log-opponent"></div>-->
        <div *ngFor="let message of gameContextService.messages | async">
            <div
                [ngClass]="{
                    'chat-log-error': message.emitter === 'local',
                    'chat-log-opponent': message.emitter !== myId && message.emitter !== 'local' && message.emitter !== 'command',
                    'chat-log': message.emitter === myId,
                    'chat-log-feedback': message.emitter === 'command'
                }"
            >
                <p class="message" [innerText]="message.text"></p>
            </div>
        </div>
    </div>
    <textarea
        #writingBox
        id="writingBox"
        rows="10"
        type="text"
        placeholder="Entrez une commande ou un message ici !"
        maxlength="512"
        (keydown.enter)="validateSyntax()"
        (keydown.enter)="$event.preventDefault()"
        [(ngModel)]="textValue"
    ></textarea>
</div>
