<section class="container">
    <div class="game-box">
        <div class="header">
            <div class="title">
                <h4>27-03-2022 10:16 ET</h4>
            </div>
            <div class="label"></div>
        </div>
        <div class="description">
            <div class="players">
                <p>Janie 126 points</p>
                <p>Benoit 100 points</p>
            </div>
            <div class="infos">
                <p>LOG2990</p>
                <p>45min. 30 sec.</p>
            </div>
        </div>
    </div>

    <div class="game-box">
        <div class="header">
            <div class="title">
                <h4>27-03-2022 9:10 ET</h4>
            </div>
            <div class="label">
                <button class="trash-can"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </div>
        <div class="description">
            <div class="players">
                <p>Janie 126 points</p>
                <p>Benoit 100 points</p>
            </div>
            <div class="infos">
                <p>LOG2990</p>
                <p>45min. 30 sec.</p>
            </div>
        </div>
    </div>

    <div class="game-box">
        <div class="header">
            <div class="title">
                <h4>27-03-2022 9:10 ET</h4>
            </div>
            <div class="label">
                <button class="trash-can"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </div>
        <div class="description">
            <div class="players">
                <p>Janie 126 points</p>
                <p>Benoit 100 points</p>
            </div>
            <div class="infos">
                <p>LOG2990</p>
                <p>45min. 30 sec.</p>
            </div>
        </div>
    </div>

    <div class="game-box">
        <div class="header">
            <div class="title">
                <h4>27-03-2022 9:10 ET</h4>
            </div>
            <div class="label">
                <button class="trash-can"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </div>
        <div class="description">
            <div class="players">
                <p>Janie 126 points</p>
                <p>Benoit 100 points</p>
            </div>
            <div class="infos">
                <p>LOG2990</p>
                <p>45min. 30 sec.</p>
            </div>
        </div>
    </div>

    <div class="game-box">
        <div class="header">
            <div class="title">
                <h4>27-03-2022 9:10 ET</h4>
            </div>
            <div class="label">
                <button class="trash-can"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </div>
        <div class="description">
            <div class="players">
                <p>Janie 126 points</p>
                <p>Benoit 100 points</p>
            </div>
            <div class="infos">
                <p>LOG2990</p>
                <p>45min. 30 sec.</p>
            </div>
        </div>
    </div>
</section>
