.container {
    height: 100%;
    display: flex;
    background-color: #5A5A5A;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
