.container {
    height: 100%;
    display: flex;
    background-color: #f9f6f8;
}

.play-area-container {
    flex: 1 1 auto;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
.center {
    display: flex;
    width: 50vw;
    height: 85vh;
    margin-left: 20vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.game-container {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    height: 90vh;
=======
    height:90vh;
>>>>>>> 381553880f1e48587b8eac11a5c81c2bf6a8b0e6
}
.icon {
    border-radius: 20px;
    margin-bottom: 2vw;
    margin-left: 2vh;
    width: 3vh;
    height: 3vh;
}

.icon,
.sizing {
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 2vh;
    transition: transform 0.3s ease-in-out;
}

#left-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.size-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 2vh;
}
.goals,
.game-goals {
    display: flex;
    flex-direction: column;
    width: 10vw;
    margin-left: 2vh;
}
<<<<<<< HEAD
#easy-goal,
#hard-goal,
#personal-goal {
    width: 20vw;
    margin: 2vh;
=======
#easy-goal, #hard-goal, #personal-goal {
    width: 20vw;
    margin: 2vh
>>>>>>> 381553880f1e48587b8eac11a5c81c2bf6a8b0e6
}
.goals {
    margin-top: 10vh;
}

<<<<<<< HEAD
#quit-game,
#skip-turn {
    background-color: #c93de0;
=======
#quit-game, #skip-turn {
    background-color: #670b3f;
>>>>>>> 381553880f1e48587b8eac11a5c81c2bf6a8b0e6
    height: 6vh;
    width: 8vh;
    margin-right: 0.5vh;
    margin-left: 0.5vh;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    transition: transform 0.3s ease-in-out;
}
.rackArea {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #f9f6f8;
}

<<<<<<< HEAD
.sizing:hover,
.icon:hover,
#quit-game:hover,
#skip-turn:hover {
    cursor: pointer;

    transform: scale(1.1);
}
=======
.sizing:hover, .icon:hover, #quit-game:hover,
#skip-turn:hover {
    cursor: pointer;
    
    transform: scale(1.1);
}
>>>>>>> 381553880f1e48587b8eac11a5c81c2bf6a8b0e6
