<section class="vp-container">
    <section class="vp-beginner">
        <section class="title">
            <div><p>Débutant</p></div>
        </section>
        <section class="vp-names">
            <div>
                <p>François</p>
            </div>
            <div>
                <p>Etienne</p>
            </div>
            <div>
                <p>Anna</p>
            </div>
        </section>
        <section class="add-vp"><button>Ajouter un joueur</button></section>
    </section>
    <section class="vp-expert">
        <section class="title">
            <div><p>Expert</p></div>
        </section>
        <section class="vp-names">
            <div>
                <p>Xavier</p>
            </div>
            <div>
                <p>Fedwin</p>
            </div>
            <div>
                <p>Justin</p>
            </div>
            <div class="new-guy">
                <div>
                    <p>Mathéo</p>
                </div>
                <button class="trash-can-vp"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </section>
        <section class="add-vp"><button>Ajouter un joueur</button></section>
    </section>
</section>
