<section class="vp-container">
    <section class="vp-beginner">
        <section class="title">
            <div><p>Débutant</p></div>
        </section>
        <section class="vp-names" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div>
                <p>François</p>
                <p>défaut</p>
            </div>
            <div>
                <p>Etienne</p>
                <p>défaut</p>
            </div>
            <div>
                <p>Anna</p>
                <p>défaut</p>
            </div>
        </section>
        <section class="add-vp"><button>Ajouter un joueur</button></section>
    </section>
    <section class="vp-expert">
        <section class="title">
            <div><p>Expert</p></div>
        </section>
        <section class="vp-names" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div>
                <p>Xavier</p>
                <p>défaut</p>
            </div>
            <div>
                <p>Fedwin</p>
                <p>défaut</p>
            </div>
            <div>
                <p>Justin</p>
                <p>défaut</p>
            </div>

            <div>
                <p>Mathéo</p>
                <button class="trash-can"><fa-icon [icon]="faTrash" size="2x"></fa-icon></button>
            </div>

            <div>
                <p>Lana</p>
                <button class="trash-can"><fa-icon [icon]="faTrash" size="2x"></fa-icon></button>
            </div>
        </section>
        <section class="add-vp"><button>Ajouter un joueur</button></section>
    </section>
</section>
