<section>
    <div>
        <p>Historique des parties</p>
        <button class="reset"><fa-icon [icon]="faReset"></fa-icon></button>
    </div>
    <div>
        <p>Dictionnaires</p>
        <button class="reset"><fa-icon [icon]="faReset"></fa-icon></button>
    </div>
    <div>
        <p>Joueurs virtuels débutants</p>
        <button class="reset"><fa-icon [icon]="faReset"></fa-icon></button>
    </div>
    <div>
        <p>Joueurs virtuels experts</p>
        <button class="reset"><fa-icon [icon]="faReset"></fa-icon></button>
    </div>
</section>
