.opjectives p {
    font-size: 1em;
    overflow: hidden;
}

.open {
    width: 80%;
}
.close {
    width: 0%;
}

p.available {
    color: black;
    font-size: 15px;
}

p:not(.available) {
    text-decoration: line-through;
}

p.isMine {
    color: darkolivegreen;
}

p:not(.available, .isMine) {
    color: rgb(8, 8, 8);
}

.objectives {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.objective-header {
    width: 100%;
    height: 4vh;
    border-radius: 15px 0 0 0;
    border: black solid;
    border-width: thin;
    background-color: #e1ac01;
    text-align: center;
}

.objective-header h1 {
    height: 100%;
    font-size: 01em;
    overflow: hidden;
}

.objective-infos {
    border-radius: 15px 0 15px 15px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background-color: #ffe454;
}

.objectives button {
    height: 50%;
    width: 15%;
    border-radius: 0 15px 15px 0;
    background-color: #e1ac01;
}

.objectives button:hover {
    cursor: pointer;
}
