<div class="objectives">
    <div [ngClass]="{ open: isOpen, close: !isOpen }" class="objective-infos">
        <div class="objective-header">
            <h1>{{ headerName }}</h1>
        </div>
        <div *ngFor="let objective of objectives">
            <p [ngClass]="{ available: objective.available, isMine: objective.mine }">
                {{ objective.text }}: {{ objective.score }}pts
            </p>
        </div>
    </div>
    <button (click)="showObjectives()">
        <fa-icon *ngIf="!isOpen" [icon]="faAngleRight" size="3x"></fa-icon>
        <fa-icon *ngIf="isOpen" [icon]="faAngleLeft" size="3x"></fa-icon>
    </button>
</div>
