<section class="container">
    <button class="refresh" (click)="confirmReset()"><fa-icon [icon]="faRefresh" size="2x"></fa-icon></button>
    <div class="big-box" [ngClass]="{ regular: dictionary.title !== 'Mon dictionnaire' }" *ngFor="let dictionary of list">
        <div class="dico-box">
            <div class="header">
                <div class="title">
                    <h4>{{ dictionary.title }}</h4>
                </div>
            </div>
            <div class="description">
                <p>{{ dictionary.description }}</p>
            </div>
        <a href="{{environment.serverUrl}}/dictionaries/download/{{dictionary.id}}" download class="download" (click)="downloadDictionary(dictionary.id.toString())"><fa-icon [icon]="faDownload" size="lg"></fa-icon></a>
        </div>
        <div class="label" *ngIf="dictionary.title !== 'Mon dictionnaire'">
            <button class="trash-can" (click)="deleteDictionary(dictionary.id.toString())"><fa-icon [icon]="faTrash" size="lg"></fa-icon></button>
            <button class="pencil" (click)="editing = true; oldTitle = dictionary.title; oldDescription = dictionary.description"><fa-icon [icon]="faPencil" size="lg"></fa-icon></button>
        </div>
    </div>
    <section class="edit" *ngIf="editing">
        <div class="header">
            <h2>Modifier le dictionnaire</h2>
            <mat-icon class="cancel" (click)="editing = false">cancel</mat-icon>
        </div>
        <form [formGroup]="dictionaryForm" (submit)="onSubmit()">
            <div>
                <label>Nom du dictionnaire:</label>
                <input type="text" formControlName="title" class="form-control" [ngModel]="oldTitle" />
            </div>
            <div class="error" *ngIf="error !== ''">{{ error }}</div>
            <div>
                <p>Description du dictionnaire (max. 120 caractères):</p>
                <textarea
                    class="form-control"
                    formControlName="description"
                    rows="10"
                    type="text"
                    maxlength="120"
                    [ngModel]="oldDescription"
                ></textarea>
            </div>
        </form>
        <button class="submission" (click)="updateDictionary()">Soumettre modification</button>
    </section>
    <section *ngIf="uploading" class="dictionary-dialog">
        <mat-card-header>
            <mat-card-title>Téléversez votre dictionnaire!</mat-card-title>
            <mat-icon class="cancel" (click)="emptyForm()">cancel</mat-icon>
        </mat-card-header>
        <br/>
        <mat-card-content>
            <div class="dictionary-form">
                <form [formGroup]="dictionaryForm" (submit)="onSubmit()">
                    <label>Format JSON accepté:</label>
                    <div>
                        {{ '{' }}
                        <br/>
                            "title": "exemple",
                            <br/>
                            "description": "une description quelconque",
                            <br/>
                            "words": ["aa", "bb"]
                            <br/>
                        {{ '}' }}
                        <br/>
                    </div>
                    <br/>
                    <div class="file-area">
                        <input
                            type="file"
                            accept=".json"
                            formControlName="file"
                            class="form-control"
                            (click)="error = ''"
                            (change)="getFileInfos($event)"
                        />
                    <div class="error" *ngIf="error !== ''">{{ error }}</div>

                    </div>
                     <br/>
                    <button class="submission" [disabled]="dictionaryForm.invalid" type="submit">Soumettre</button>
                </form>
            </div>
        </mat-card-content>
    </section>
    <div class="upload-area">
        <button class="upload" (click)="uploading = true"><fa-icon [icon]="faUpload" size="3x"></fa-icon></button>
    </div>
</section>
