.dictionary-tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dictionary-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 90%;
    margin-top: 2.5%;
    height: 80%;
    margin-top: 5%;
    overflow-y: auto;
}
.dico-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    height: 20%;
    min-height: 20%;
    margin: 0 0 5% 0;
}

.refresh {
    position: sticky;
    top: 1px;
    left: 90%;
    width: 4%;
    min-height: 8%;
    border-radius: 20%;
    background-color: red;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 90%;
}

.description p {
    font-size: 12px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
}

.title {
    height: 100%;
    width: 90%;
    background-color: #f5e86f;
    border-radius: 0 0 10px 10px;
    margin-left: 27%;
    text-align: center;
}

.title h4 {
    font-size: 15px;
}
.label {
    float: right;
    font-size: 11px;
    margin-left: 15%;
    width: 20%;
    height: 100%;
}

.trash-can {
    color: red;
    border: white;
    width: 80%;
    height: 100%;
    background-color: white;
    margin-top: 2%;
}

.trash-can:hover {
    cursor: pointer;
}

.trash-can:active {
    box-shadow: 0px 0px 0px;
}

.dictionary-container::-webkit-scrollbar {
    height: 1px;
    width: 10px;
    border-radius: 15px;
    background-color: #b6b6b6c0;
}

.dictionary-container::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    height: 1px;
    width: 10px;
    border-radius: 15px;
}

.upload-area {
    display: flex;
    justify-content: center;
    height: 10%;
}

.upload {
    width: 20%;
    background-color: #b3f8fd;
    border-radius: 20px;
    box-shadow: 4px 4px 4px;
}

.upload:hover {
    cursor: pointer;
}

.upload:active {
    box-shadow: 0 0 0;
}

.dictionary-dialog {
    z-index: 2;
    position: absolute;
    justify-content: start;
    align-items: center;
    background-color: #eee9bd;
    margin-left: 18%;
}

.dictionary-form {
    background-color: #eee9bd;
}

.dictionary-form form {
    display: flex;
    flex-direction: column;
}
