<section class="container">
    <button class="refresh"><fa-icon [icon]="faRefresh" size="2x"></fa-icon></button>
    <div class="dico-box">
        <div class="header">
            <div class="title">
                <h4>Dictionnaire {{ dictionary.name }}</h4>
            </div>
            <div class="label" *ngIf="dictionary.id === 0">
                <span>defaut</span>
            </div>
            <div class="label" *ngIf="dictionary.id !== 0">
                <button class="trash-can"><fa-icon [icon]="faTrash" size="1x"></fa-icon></button>
            </div>
        </div>
        <div class="description">
            <p>{{ dictionary.description }}</p>
        </div>
    </div>
</section>
