<div class="container main-container">
    <div class="header-container">
        <div
            class="apropos"
            matTooltip="
                Etienne Aumais-Boucher&#13;
                &#13;
                Fedwin Chatelier&#13;
                &#13;
                Anna Guo&#13;
                &#13;
                Xavier L'Heureux&#13;
                &#13;
                Justin St-Arnaud&#13;
                &#13;
                Francois Tourigny"
            matTooltipPosition="above"
            matTooltipClass="tool"
        >
            Auteurs
        </div>
    </div>

    <div class="vertical">
        <img class="logo" src="assets/logo.svg" alt="Scrabble" />
        <button
            mat-raised-button
            *ngFor="let field of buttonsMainPage"
            class="button"
            [disabled]="field.disabled"
            matTooltip="{{ field.toolTip }}"
            matTooltipPosition="right"
            matTooltipClass="tool"
            routerLink="{{ field.route }}"
            (click)="field.promptsDialog && openPopUp()"
        >
            {{ field.text }}
        </button>
    </div>
</div>
