@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

.container {
    min-height: 100vh;
    height: auto;
    background-color: darkseagreen;
    width: 100%;
}

.apropos {
    width: 97%;
    margin: 30px;
    text-align: right;
}

.title {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 100px;
    //margin: auto;
    color: aquamarine;
    font-family: 'Signika Negative', sans-serif;
    font-size: 70px;
}

.justified {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.button:hover {
    background-color: darkgoldenrod;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    margin: auto;
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
