<div class="container main-container">
    <div class="header-container">
        <div
            class="apropos"
            matTooltip="Etienne Aumais-Boucher&#13;
                Fedwin Chatelier&#13;
                Anna Guo&#13;
                Xavier L'Heureux&#13;
                Justin St-Arnaud&#13;
                Francois Tourigny"
            matTooltipPosition="above"
        >
            Auteurs
        </div>
    </div>

    <div class="vertical">
        <img class="logo" src="assets/logo.svg" alt="Scrabble">
        <button
            mat-raised-button
            *ngFor="let champ of boutonMainPage"
            class="button"
            matTooltip="{{ champ.toolTip }}"
            matTooltipPosition="right"
            routerLink="{{ champ.route }}"
        >
            {{ champ.texte }}
        </button>
    </div>
</div>
