.container {
    min-height: 100vh;
    height: auto;
    background-color: darkseagreen;
}

.middle {
    vertical-align: middle;
}

.title {
    margin: auto;
    color: aquamarine;
    font-size: xx-large;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    margin: 10px;
    text-align: center;
}

.button:hover {
    font-size: x-large;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
