<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Paramètres de la partie multijoueur</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon class="icone-cancel" (click)="closeDialog()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>

<mat-card-content>
    <div class="container">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label>Votre nom: </label>
                        <input type="text" formControlName="secondPlayerName" class="form-control" />
                    </div>

                    <div class="col-md-10">
                        <label>Nom de l'adversaire: </label>
                    </div>

                    <div class="col-md-10">
                        <label>Choix du dictionnaire: </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn success">Jouer!</button>
            </div>
        </form>
    </div>
</mat-card-content>
