@import '../../styles/colors.scss';
@import '../../styles/menus.scss';

.subtitle {
    color: $primary;
    font-size: 2em;
    text-align: right;
    margin-top: -2em;
}
.button:disabled {
    background-color: rgb(87, 87, 87);
}
