<div class="container main-container">
    <div class="vertical">
        <img class="logo" src="assets/logo.svg" alt="Scrabble" />
        <h2 class="subtitle">{{ log2990 ? 'LOG2990' : 'Classique' }}</h2>
        <button
            mat-raised-button
            class="button field.text"
            [ngClass]="field.promptsDialog ? field.text : ''"
            *ngFor="let field of buttons"
            (click)="
                (field.promptsDialog && field.text === 'Multijoueur' && openDialog()) ||
                    (field.promptsDialog && field.text === 'Solo' && openSoloDialog())
            "
            routerLink="{{ field.promptsDialog ? '/classic' : field.route }}"
            matTooltip="{{ field.toolTip }}"
            matTooltipPosition="right"
            matTooltipClass="tool"
        >
            {{field.text}}
        </button>
    </div>
</div>
