<div class="container main-container">
    <div class="vertical">
        <img class="logo" src="assets/logo.svg" alt="Scrabble" />
        <h2 class="subtitle">{{ mode === 'classic' ? 'Classique' : 'LOG2990' }}</h2>
        <button
            mat-raised-button
            class="button champ.text"
            [ngClass]="champ.promptsDialog ? champ.text : ''"
            *ngFor="let champ of buttons"
            (click)="
                (champ.promptsDialog && champ.text === 'Multijoueur' && openDialog()) ||
                    (champ.promptsDialog && champ.text === 'Solo' && openSoloDialog())
            "
            routerLink="{{ champ.promptsDialog ? '/classic' : champ.route }}"
            matTooltip="{{ champ.toolTip }}"
            matTooltipPosition="right"
            matTooltipClass="tool"
        >
            {{ champ.text }}
        </button>
    </div>
</div>
