<div class="container main-container">
    <div class="vertical">
        <img class="logo" src="assets/logo.svg" alt="Scrabble" />
        <h2 class="subtitle">{{ this.mode.mode }}</h2>
        <button
            mat-raised-button
            class="button champ.texte"
            [ngClass]="champ.promptsDialog ? champ.texte : ''"
            [disabled]="champ.disabled"
            *ngFor="let champ of boutons"
            (click)="champ.promptsDialog && openDialog()"
            routerLink="{{ champ.promptsDialog ? '/classic' : champ.route }}"
            matTooltip="{{ champ.toolTip }}"
            matTooltipPosition="right"
        >
            {{ champ.texte }}
        </button>
    </div>
</div>
