<div *ngIf="this.isMainPlayer">
    <i class="material-icons" routerLink="/" (click)="kickLeave()">cancel</i>
</div>
<div *ngIf="!this.isMainPlayer">
    <i class="material-icons" routerLink="/" (click)="leave()">cancel</i>
</div>

<div class="ring">
    <h1 id="txt">En attente...</h1>
</div>

<div class= "big-box" *ngIf="isMainPlayer">
    <div class='container' *ngIf="otherPlayerName !== undefined">
        <p class="opponent">{{otherPlayerName}} veut joindre votre partie.</p>
    </div>
    <div class='container' *ngIf="otherPlayerName === undefined">
        <p class="opponent"></p>
    </div>

    <div class="options">
        <button class="start" [disabled]="!canControl" (click)="start()">Démarrer</button>
        <button class="reject" [disabled]="!canControl" (click)="kick()">Rejeter</button>
    </div>
</div>
