<!-- <h2 mat-dialog-title>Paramètres partie multijoueur</h2>
<mat-dialog-content>Votre nom:</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true">Jouer!</button>
    <button mat-button mat-dialog-close mat-dialog-close="false">Annuler</button>
</mat-dialog-actions> -->

<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Paramètres de la partie multijoueur</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>

<mat-card-content>
    <div class="container">
        <form [formGroup]="gameParametersForm" (submit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label>Votre nom: </label>
                        <input type="text" formControlName="playerName" class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label>Temps limite par tour: </label>

                        <select  formControlName="timer" class="form-control" id="minutes" name="minute"
                        (change)="checkNonZero()">
                            <option *ngFor="let minute of [0,1,2,3,4,5]" [selected]="minute === 1">{{minute}}</option>
                          </select>
                          min :
                          <select id="seconds" name="second"
                          (change)="checkNonZero()">
                            <option value="default">00</option>
                            <option value="thirty">30</option>
                          </select> 
                    </div>
                    <div class="col-md-10">
                        <label>Choix du dictionnaire: </label>
                        <select id="dictionaries" name="dictionary" formControlName="dictionary" class="form-control">
                            <option value="">Langue française</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn success" routerLink="/waiting-room">Jouer!</button>
            </div>
        </form>
    </div>
</mat-card-content>