<mat-card>
    <mat-toolbar class="toolbar">
        <mat-card-title>Commandes disponibles</mat-card-title>
        <mat-icon class="icone-cancel" (click)="closeDialog()">cancel</mat-icon>
    </mat-toolbar>

<mat-card-content>
    <div class="container">
        <p>
        !placer [ligne][colonne][(h|v)] [lettres] : ajouter des lettres sur la grille en fonction de la ligne et de la colonne, et du sens désiré.<br>
            <b>exemple: !placer 9gh ment<br></b>
            <br>
        !échanger [lettre] : échanger les lettres choisies par des nouvelles lettres.<br>
            <b>exemple: !échanger abc <br></b>
            <br>
        !passer : passer votre tour<br>
        </p>
    </div>
</mat-card-content>
</mat-card>
