<div class="rack-container">
    <div (contextmenu)="menu($event)" class="letter-container" id="letter-container" *ngFor="let letter of letters">
        <div 
            [ngClass]="{
                'letter-name': this.gridService.multiplier === 1,
                'big-let': this.gridService.multiplier === 1.1,
                'small-let': this.gridService.multiplier === 0.9
            }"
        >
            <p class = "name">{{ letter.name }}</p>
        </div>
        <div 
            [ngClass]="{
                'letter-score': this.gridService.multiplier === 1,
                'big-sco': this.gridService.multiplier === 1.1,
                'small-sco': this.gridService.multiplier === 0.9
            }"
        >
            <p class="score">{{ letter.score }}</p>
        </div>
    </div>
</div>

<div id="menu" class="context-menu" 
    style="display: none">
        <button (click)="exchange()"
        [disabled]="(gameContextService.isMyTurn() | async) === false || gameContextService.state.value.ended === true || 
        getReserveCount()">
        Echanger</button>
        <button (click)="hideMenu()">Annuler</button>
   
</div>
