.rack-container {
    background-color: #353535;
    height: 8vh;
    width: 30vw;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.letter-container {
    display: flex;
    flex-direction: row;
    width: 3vw;
    height: 3vw;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    background-color: burlywood;
}

.letter-name,
.letter-score {
    margin-left: 1vh;
}

.letter-name {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-size: 120%;
}

.letter-score {
    display: flex;
    align-items: flex-end;
    font-size: 80%;
}
