/*.opponent,
.player {
    border-width: thin;
    border-style: solid;
}
*/
.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.opponent,
.player {
    padding: 10vh 0 10vh 0;
    height: 30%;
}

.game-infos,
.opponent,
.player {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    width: 100%;
}

.endgame-infos {
    background-color: #54bd9d;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.profile {
    background-color: gray;
    border: gray solid;
    border-radius: 100%;
    height: 4vw;
    width: 4vw;
    padding-left: 0.5vw;
    margin: 0.05vw;
}

// .opponent,
// .player {
//     flex-direction: row;
//     justify-content: space-between;
// }

.tour {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 8vw;
    border-radius: 10px;
    background-color: #54bd9d;
    margin-top: 1vh;
}

.skip-turn {
    height: 6vh;
    width: 8vh;
    font-size: 2em;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
    transition: transform 0.3s ease-in-out;
    margin-top: 10%;
    background-color: #e69419;
}
.skip-turn:hover {
    cursor: pointer;

    transform: scale(1.1);
}
.skip-turn:disabled {
    cursor: default;
    opacity: 0.5;
    transform: scale(1);
}

p {
    margin-bottom: 0px;
}
.p-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}
.p-infos p {
    margin-left: 1vh;
}

.winner-left,
.winner-right {
    display: flex;
    width: 5%;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}

.winner-right {
    justify-content: flex-end;
}

#chrono {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
