.infos,
.game-infos,
.opponent,
.player {
    border-width: thin;
    border-style: solid;
}
.infos {
    display: inline-flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    margin-bottom: 2vh;
}
.game-infos,
.opponent,
.player {
    background-color: #670b3f;
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tour {
    background-color: #f9f6f8;
}

p {
    margin-bottom: 0px;
}
.p-infos {
    display: flex;
    flex-direction: row;
}
.p-infos p {
    margin-left: 1vh;
}
