<div class="infos">
    <div class="opponent" [ngClass]="{ player: true, tour: (gameContextService.isMainPlayerTurn | async) }">
        <div class="p-infos">
            <p>Joueur1</p>
            <p>:</p>
            <p>score joueur1</p>
        </div>
        <p>lettes restantes joueur1</p>
    </div>
    <div class="game-infos">
        <p>mode de jeu</p>
        <div class="backChrono">
            <countdown #countdown [config]="{ format: 'mm:ss', leftTime: (communicationService.selectedRoom | async)?.parameters?.timer, demand: true }" (event)="handleEvent($event)"></countdown>
        </div>
        <p>lettes restantes en reserve</p>
    </div>
    <div class="player" [ngClass]="{ player: true, tour: (gameContextService.isMainPlayerTurn | async) === false }">
        <div class="p-infos">
            <p>Joueur2</p>
            <p>:</p>
            <p>score joueur2</p>
        </div>
        <p>lettes restantes joueur2</p>
    </div>
</div>
