.infos,
.game-infos,
.opponent,
.player {
    border-radius: 1px;
    border-style: solid;
}
.infos {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;
    width: 100vw;
}
.game-infos,
.opponent,
.player {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
