<div class="infos">
    <div class="opponent">
        <div class="profile"></div>
        <div class="p-infos">
            <p>{{ (this.gameContextService.getOther() | async)?.info?.name }}</p>
            <p>{{ (this.gameContextService.getOther() | async)?.score }} points</p>
            <p *ngIf="opponentRackIsVisible">{{ (this.gameContextService.getOther() | async)?.rackCount }} restantes dans le chevalet</p>
            <div *ngIf="(gameContextService.isMyTurn() | async) === false && (this.gameContextService.isEnded() | async) === false" class="tour">
                En cours de jeu...
            </div>
        </div>
    </div>
    <div id="chrono">
        <app-chrono-container></app-chrono-container>
        <button
            class="skip-turn"
            matTooltip="Passer votre tour"
            matTooltipPosition="right"
            matTooltipClass="tool"
            [disabled]="(gameContextService.isMyTurn() | async) === false"
            (click)="this.gameContextService.switchTurn(false)"
        >
            <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
        </button>
    </div>
    <div class="player">
        <div class="profile"></div>
        <div class="p-infos">
            <p>{{ (this.gameContextService.getMe() | async)?.info?.name }}</p>
            <p>{{ (this.gameContextService.getMe() | async)?.score }} points</p>
            <p *ngIf="myRackIsVisible">{{ (this.gameContextService.getMe() | async)?.rackCount }} lettres restantes dans le chevalet</p>
            <!--<div *ngIf="(gameContextService.isMyTurn() | async) === true && !(this.gameContextService.state | async)?.ended" class="tour">
                En cours de jeu...
            </div>-->
        </div>
    </div>
</div>
