@import '../../styles/colors.scss';
.material-icons {
    text-align: center;
    font-size: 45px;
    width: 50px;
    color: $primary;
    transition: transform 0.3s ease-in-out;
}

.material-icons:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.button {
    background-color: $primary;
    color: $bkg;
}

.button:disabled {
    background-color: rgb(87, 87, 87);
}

.clickable {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    flex-wrap: wrap;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 9px;
    transition: box-shadow 0.1s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.toolbar {
    justify-content: center;
    max-width: 95%;
    color: #576877;
}

#title {
    font-style: 'Signika Negative';
    text-align: center;
    margin: 0;
}

.title-container {
    color: $primary;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: $bkg;
}

.header > div {
    width: 33.33%;
}

#icon-container {
    padding-left: 2em;
}

.mat-card-content{
    display: flex;
    justify-content: space-around;
}

.avatar{
    width: 20%;
    height: 80%;
}