<a (click)="location.back()" class="home-button">
    <i class="material-icons">home</i>
</a>
<mat-card>
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <mat-card-title>Joignez une partie mode classique</mat-card-title>
            <span class="toolbar-spacer"></span>
        </mat-toolbar>
    </mat-card-header>
</mat-card>

<div id="games-list" *ngFor="let game of communicationService.rooms | async">
    <mat-card matRipple class="clickable" (click)="openDialog(game)">
        <mat-card-content>
            <div class="container">
                <span>
                    <p id="firstPlayer">Nom du joueur: {{ game.name }}</p>
                    <p id="dictChoice">Dictionnaire: {{ game.parameters.dictionnary }}</p>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
