<header class="header">
    <div id="icon-container">
        <i class="material-icons" routerLink="/classic">arrow_back_ios</i>
    </div>
    <div class="title-container">
        <h1 id="title">Joignez une partie mode classique</h1>
    </div>
    <div id="icon-container">
        <button mat-raised-button class="button" *ngIf="nbOfRooms > 0" [disabled]="nbOfRooms <= 1" (click)="getRandomRoom()">Choix aléatoire</button>
    </div>
</header>

<div id="games-list" *ngFor="let game of communicationService.rooms | async">
    <mat-card matRipple class="clickable" (click)="openDialog(game)">
        <mat-card-content>
            <div class="container">
                <span>
                    <img [src]="game.parameters.avatar" />
                    <p id="firstPlayer">Nom du joueur: {{ game.name }}</p>
                    <p id="timer">Temps limite par tour: {{ game.parameters.timer }} secondes</p>
                    <p id="dictChoice">Dictionnaire: {{ dictionnaries ? dictionnaries[game.parameters.dictionnary].name : '…' }}</p>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
