<div *ngFor="let champ of donneesBoutons" class="justified">
    <button
        *ngIf="!champ.promptsDialog"
        (click)="openDialog(champ.promptsDialog)"
        (click)="modifyMode(champ.mode)"
        class="button"
        routerLink="{{ champ.route }}"
        matTooltip="{{ champ.toolTip }}"
        matTooltipPosition="right"
    >
        {{ champ.texte }}
    </button>

    <button
        *ngIf="champ.promptsDialog"
        (click)="openDialog(champ.promptsDialog)"
        (click)="modifyMode(champ.mode)"
        class="button"
        matTooltip="{{ champ.toolTip }}"
        matTooltipPosition="right"
    >
        {{ champ.texte }}
    </button>
</div>
